services:
  scicommons:
    container_name: scicommons
    image: scicommons-frontend:latest
    restart: always
    ports:
      - 3000:3000
    networks:
      - docker_network

networks:
  docker_network:
    driver: bridge
